---
title: Home
layout: default
background: '/img/bg-index.jpg'
---
 

<section class="row">
  <div class="col-sm-8"> 
      {% for post in paginator.posts %}
      {% unless post.featured == true %}
      <div class="col-md-12 mb-5">
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
     
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    {% include sidebar.html %}
  </div>
</section> 

<footer>
 test
</footer>
