<div class="container main-content-area">
	<div class="row">
		<div class="col-md-12 sidebar " >
			<h5 id='webinars'>
				<span>Webinars</span>    
			</h5>
			<div class="list-group" >
			   
				<a href="https://youtu.be/V3rhQ3UVsGY" class="list-group-item list-group-item-action"><h6 class="sidebar-title">Ask Me Anything | Episode 1 | Chandika Jayasundara</h6> <span class="sidebar-info">Published on Nov 21, 2020</span> </a>
				<hr>
				<a href="https://youtu.be/spMGTPYUL8Y" class="list-group-item list-group-item-action"><h6 class="sidebar-title">Ask Me Anything | Episode 2 | Lakmini Wijesundara</h6> <span class="sidebar-info">Published on Nov 21, 2020</span> </a>
				<hr>
				<a href="https://youtu.be/9jpfEd7PNAY" class="list-group-item list-group-item-action"><h6 class="sidebar-title">Ask Me Anything | Episode 3 | Ranil Vitarana</h6> <span class="sidebar-info">Published on Nov 21, 2020</span> </a>
				<hr>
				<a href="https://youtu.be/9jpfEd7PNAY" class="list-group-item list-group-item-action"><h6 class="sidebar-title">Ask Me Anything | Episode 3 | Ranil Vitarana</h6> <span class="sidebar-info">Published on Nov 21, 2020</span> </a>
			</div>

			<h5 class="mt-40" id='events'>
				<span>Events</span>    
			</h5>
			<div class="list-group">
			   
				<a href="#" class="list-group-item list-group-item-action"><h6 class="sidebar-title">Quality Focus by SLASSCOM</h6> <span class="sidebar-info">Date : April 21, 2021 Time : Nov 21, 2020</span> </a>
				<hr>
				<a href="#" class="list-group-item list-group-item-action"><h6 class="sidebar-title">Agile Summit  by SLASSCOM</h6> <span class="sidebar-info">Date : May 25, 2021 Time : Jan 25, 2021 </span> </a>
				<hr>
				<a href="#" class="list-group-item list-group-item-action"><h6 class="sidebar-title">Island of Ingenuity by SLASSCOM</h6> <span class="sidebar-info">Date : June 18, 2021 Time : Feb 18, 2021</span> </a>
			  </div>
		</div>
	</div>
</div>