<div class="container main-content-area">
	<div class="row">
		<div class="col-md-12 sidebar " >
			<h5 id='webinars'>
				<span>PPC Academy Topics</span>    
			</h5>
			<div class="list-group" > 
				<div class="list-group-item-pcc-side-nav">
					<a href="{{ site.baseurl }}/explore" class=" list-group-item-action"><h6 class="sidebar-title"> Explore</h6></a>
				</div>
				<div class="list-group-item-pcc-side-nav">
					<a href="{{ site.baseurl }}/focus" class=" list-group-item-action"><h6 class="sidebar-title">Focus</h6></a>
				</div>
				<div class="list-group-item-pcc-side-nav">
					<a href="{{ site.baseurl }}/immerse" class=".list-group-item-pcc-side-nav list-group-item-action"><h6 class="sidebar-title">Immerse</h6></a>
				</div>
				<div class="list-group-item-pcc-side-nav">
					<a href="{{ site.baseurl }}/plan" class=".list-group-item-pcc-side-nav list-group-item-action"><h6 class="sidebar-title">Plan</h6></a>
				</div>
				<div class="list-group-item-pcc-side-nav">
					<a href="{{ site.baseurl }}/build" class=".list-group-item-pcc-side-nav list-group-item-action"><h6 class="sidebar-title">Build</h6></a>
				</div>
				<div class="list-group-item-pcc-side-nav">
					<a href="{{ site.baseurl }}/optimize" class=".list-group-item-pcc-side-nav list-group-item-action"><h6 class="sidebar-title">Optimize</h6></a>
				</div>
				<div class="list-group-item-pcc-side-nav">
					<a href="{{ site.baseurl }}/harvest" class=".list-group-item-pcc-side-nav list-group-item-action"><h6 class="sidebar-title">Harvest</h6></a>
				</div>
				<div class="list-group-item-pcc-side-nav">
					<a href="{{ site.baseurl }}/retire" class=".list-group-item-pcc-side-nav list-group-item-action"><h6 class="sidebar-title">NextGen</h6></a>
				</div> 
			</div> 
		</div>
	</div>
</div>