<div class="row" id="ppc-topics">
	<p class="ml-3">You can click on each stage to see the detailed topics to learn.</p>
	<div class="col-md-12 d-flex flex-wrap flex-row pcc__topic__bottom__navigation">
		
		<a href="{{ site.baseurl }}/explore">
			<div class="explore">
				EXPLORE
			</div>
		</a>
		<a href="{{ site.baseurl }}/focus">
			<div class="focus">
				FOCUS
			</div>
		</a>
		
		<a href="{{ site.baseurl }}/immerse">
			<div class="immerse">
				IMMERSE
			</div>
		</a>
		
		<a href="{{ site.baseurl }}/build">
			<div class="build">
				BUILD
			</div>
		</a>
		
		<a href="{{ site.baseurl }}/optimize">
			<div class="optimize">
				OPTIMIZE
			</div>
		</a>
		
		<a href="{{ site.baseurl }}/harvest">
			<div class="harvest">
				HARVEST
			</div>
		</a>
		
		<a href="{{ site.baseurl }}/nextgen">
			<div class="nextgen">
				NEXTGEN
			</div>
		</a>
		
	</div>
</div>